{% extends "crud/card.html" %}
{% load static %}

{% block card %}

		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2><hr/>
		<p class="lead text-align-center">El Hotel Amanecer abrió sus puertas el dia de ...</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>

{% endblock %}