<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block head_title %}{% endblock %}</title>
		
	{% include "includes/head_css.html" %}
	
	{% block in_head %}{% endblock %}

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		{#% include "includes/sidebar.html" %#}
	
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
	
			<!-- Main Content -->
			<div id="content">
	
			{% include "includes/navbar.html" %}
				
				{% block jumbotron %}
				{% endblock %}
	
				<!-- Begin Page Content -->
				<div class="container-fluid p-0">

					{% block content %}
					{% endblock %}
		
				</div>
				<!-- /.container-fluid -->
	
			</div>
			<!-- End of Main Content -->
	
			<!-- Footer -->
			<footer class="sticky-footer text-light bg-dark py-2">
				<div class="container">
					<div class="copyright text-center">
						<span>Copyright &copy; Elaborado por BA Soft - 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
	
		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>


	{% include "includes/js.html" %}
</body>

</html>
