{% load static %}

<!--    <script src="{% static '/js/jquery-3.3.1.slim.min.js' %}"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="{% static '/js/bootstrap.min.js' %}"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="{% static '/js/ie10-viewport-bug-workaround.js' %}"></script>
	<script src="{% static '/js/6c35174608.js' %}"></script>-->
<!-- Bootstrap core JavaScript-->

<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static '/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static '/sb-admin-2/js/sb-admin-2.min.js' %}"></script>

<!-- Charts plugins
<script src="{% static '/chart.js/Chart.min.js' %}"></script>-->
<!-- Charts custom scripts
<script src="{% static '/sb-admin-2/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static '/sb-admin-2/js/demo/chart-pie-demo.js' %}"></script>-->
<!-- Tables plugins -->
<script src="{% static '/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Tables custom scripts -->
<script src="{% static '/sb-admin-2/js/demo/datatables-demo.js' %}"></script>

<!-- moment -->
<!--<script src="{% static '/moment/moment.min.js' %}"></script>
-->
<script src="{% static '/jquery/jquery-ui.min.js' %}"></script>
