estructura/migrations/
persona/migrations/
reporte/migrations/
reserva/migrations/

estructura/__pycache__/
persona/__pycache__/
reporte/__pycache__/
reserva/__pycache__/
project/__pycache__/
__pycache__

venv/