{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ titulo }}{% endblock %}

{% block content %}

	<div class='row justify-content-center align-items-center' style="min-height: calc(100vh - 76px);">
		<div class='col-md-6 col-sm-offset-3'>				
			<div class="card shadow my-3">
			
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary text-align-center">{{ titulo }}</h6>
				</div>
				
				<div class="card-body">
					
					{% block card %}
					{% endblock %}
					
				</div>
				
			</div>
		</div>
	</div>	

{% endblock %}
