{% extends "dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}

	{% block content %}
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Persona</h1>
	
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Editar Persona</h6>
		</div>
		<div class="card-body">
		
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>		
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
					  
						<!-- {{ form.as_p }} -->
						<div class="form-group">
							<label for="id_familia" class="txt_negrita">Familia</label>
							{{ form.id_familia|add_class:"form-control" }} <!-- Usamos la libreria 'widget_tweaks' para crear esta caja de texto -->
						</div>
						<div class="form-group">
							<label for="nombre" class="txt_negrita">Nombre</label>
							{{ form.nombre|add_class:"form-control" }}
						</div>
						<div class="form-group">
							<label for="ci" class="txt_negrita">C.I.</label>
							{{ form.ci|add_class:"form-control" }}
						</div>
						
					<!--	<div class="form-group">
							<label for="img" class="txt_negrita">Imagen</label>
							{{ form.img|add_class:"form-control mb-3" }}
							<p class="txt_negrita">Imagen Actual:</p>
							<img src="{% static 'uploads/'%}{{object.img}}" class="img-fluid" alt="{{object.nombre}}">
						</div>-->
					
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="../" type="submit" class="btn btn-primary">Volver</a>		
					</form>
				</div>
			</div>
		</div>
	</div>
				
	{% endblock %}
