{% extends "dashboard/base.html" %}
{% load static %}
	{% block content %}
		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<h1 class='text-align-center'>Detalles de la Persona</h1><hr/>
	
				<h4>Detalles</h4>
				 
				<p><span class="txt_negrita">Familia:</span> <br> {{object.id_familia}}</p>
				<p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
				<p><span class="txt_negrita">C.I.:</span> <br> {{object.ci}}</p>
				
				<!--<p><span class="txt_negrita">Imagen:</span> <br> <img src="{% static 'uploads/'%}{{object.img}}" alt="{{object.nombre}}" class="img-fluid"> </p>
				-->
				<!--<p><span class="txt_negrita">Creado:</span> <br> {{object.created_at}}</p>
				<p><span class="txt_negrita">Actualizado:</span> <br> {{object.updated_at}}</p>-->
				 
				<!-- Boton para volver a la vista principal (Home) -->
				<a href="../" type="submit" class="btn btn-primary">Volver</a>
				
			</div>
		</div>
	{% endblock %}
