{% extends "crud/card.html" %}
{% load crispy_forms_tags %}

{% block card %}
		
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ user_form|crispy}}
						{{ cliente_form|crispy }}
					  
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i>
							Aceptar
						</button>
						
						<div class="btn btn-primary" onClick="javascript:history.go(-1);">
							<i class="fas fa-caret-left"></i>
							Cancelar
						</div>
					 
					</form>
					
{% endblock %}