{% extends "dashboard/base.html" %}
{% load static %}
	{% block content %}
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Producto</h1>
		
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Detalles del Producto</h6>
		</div>
		<div class="card-body">
		
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>		
				
					<p><strong>ID :</strong><br> {{object.id_producto}}</p>
					<p><strong>Codigo de Barras:</strong><br> {{object.barcode}}</p>
					<p><strong>Proveedor:</strong><br> {{object.id_proveedor_fk}}</p>
					<p><strong>Descripci&oacute;n:</strong><br> {{object.descripcion}}</p>
					<p><strong>ID Categor&iacute;a:</strong><br> {{object.id_categoria_fk}}</p>
					<p><strong>Precio:</strong><br> {{object.precio1}}</p>
					<p><strong>Stock:</strong><br> {{object.stock}}</p>
					<p><strong>Presentaci&oacute;n:</strong><br> {{object.presentacion}}</p>
					<p><strong>Foto:&nbsp;</strong><img src="{{object.foto.url}}" class="img-fluid"> </p>
					<p><strong>IVA:</strong><br> {{object.iva}}</p>
					
					
					<a href="../" type="submit" class="btn btn-primary">
						<i class="fas fa-caret-left"></i>
						Volver
					</a>
					
				</div>
			</div>
		</div>
	</div>
	

	{% endblock %}
