body {
	min-height: 750;
}

.navbar-static-top {
 	margin-bottom: 0px;
}

.navbar-default, .dropdown-menu {
	background-color: #37346b !important;
	border-color: #918fa9 !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a, .dropdown-header {
	color: #eee;
}

.navbar-default .navbar-brand:hover,  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #918fa9;
}

.btn-default {
	background-color: #37346b;
	color: #eee;
	border-color: #918fa9;	
}

.btn-default:hover {
	background-color: #37346b;
	color: #918fa9;
	border-color: #918fa9;	
}

.navbar-form .form-control {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.dropdown-menu>li>a:hover {
    color: #918fa9;
	background-color: #37346b;
}

/*.dropdown-menu>li>a {
    color: #eee;
}

.dropdown-header {
    color: #eee;
}

.dropdown-menu {
    background-color: #37346b !important;
}*/

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #918fa9;
    background-color: #37346b;
}

.dropdown-menu .divider {
    background-color: #918fa9;
}
