{% extends "dashboard/base.html" %}
{% load static %}
	{% block content %}
		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<h1 class='text-align-center'>Detalles de la Habitaci&oacute;n</h1><hr/>
				<!-- Boton para volver a la vista principal (Home) -->
				<a href="../" type="submit" class="btn btn-primary">
					<i class="fas fa-caret-left"></i>
					Volver
				</a><br><br>
	
				<h4>Detalles</h4>
				 
				<p><strong>ID:&nbsp;</strong>{{object.id_habitacion}}</p>
				<p><strong>Precio:&nbsp;</strong>{{object.precio1}}</p>
				<p><strong>N&uacute;mero:&nbsp;</strong>{{object.numero}}</p>
				<p><strong>Categor&iacute;a:&nbsp;</strong>{{object.id_categoria_fk}}</p>
				<p><strong>Caracter&iacute;sticas:&nbsp;</strong>{{object.caracteristicas}}</p>
				<p><strong>Foto:&nbsp;</strong><img src="{{object.foto.url}}" class="img-fluid"> </p>
				<p><strong>Estado:&nbsp;</strong>{{object.estado}}</p>
				 
				<a href="../" type="submit" class="btn btn-primary">
					<i class="fas fa-caret-left"></i>
					Volver
				</a>
				
			</div>
		</div>
	{% endblock %}
