{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	
	<div class='row justify-content-center'>
		<div class='col-sm-6 col-sm-offset-3'>
			<div class="card shadow mb-4">
			
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Nueva Reserva</h6>
				</div>
				
				<div class="card-body">
		
					<form method="post" enctype="multipart/form-data"  id="reservaForm" data-hab-disp-url="{% url 'ajax_load_hab_disponible' %}" autocomplete="off" novalidate>
						{% csrf_token %}					  
						{{ form|crispy }} 
					  
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i>
							Aceptar
						</button>
						
						<a href="{% url 'leerReserva' 'crear' %}" type="submit" class="btn btn-primary">
							<i class="fas fa-caret-left"></i>
							Cancelar
						</a>
					 
					</form>
			
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">Habitaciones Disponibles</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
				<div class="modal-body">
				
				</div>
			</div>
		</div>
	</div>
	
	<template id="template">
		<div class="row">
			<div class="col-sm-12">
				<div class="card h-100 py-1">				
					<div class="card-body">					
						<div class="row align-items-center">					
						
							<aside class="col-md-3">
								<a href="#" class="img-wrap"><img src="" class="img-fluid hab-img"></a>
							</aside>						
							
							<div class="col-md-6">
								<div class="info-main">
									<div class="h5 title"><strong class="hab-title"></strong></div>
									<br>				
									<p><strong>Categoría: </strong><span class="hab-categ"></span></p>
									<p><strong>Características: </strong><span class="hab-carac"></span></p>
								</div>
							</div>
							
							<aside class="col-sm-3">
								<div class="info-aside">
									<div class="price-wrap">
										<span class="h5">Precio: </span>
										<span class="h5 hab-prec"></span>	
									</div>
									<br>
									<a href="#" class="btn btn-success btn-block hab-btn" data-dismiss="modal">
										<i class="far fa-eye"></i> Seleccionar</a>
								</div>
							</aside>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</template> 
	
<script type="text/javascript">
	var habs;
	var fecha_entrada;
	var fecha_salida;
	
    $(document).ready(function () {
		//$.datepicker.formatDate = function (format, value) {
		//	return moment(value).format(format);
		//};

		
		//$("#id_fecha_entrada").attr('readonly', 'true');
		//var fecha_entrada = $("#id_fecha_entrada").val();
		//var fecha_salida = $("#id_fecha_salida").val();
		//fecha_entrada = fecha_entrada.split("/").reverse().join("-");
		//fecha_salida = fecha_salida.split("/").reverse().join("-");
		//$("#id_fecha_entrada").val(fecha_entrada);
		//$("#id_fecha_salida").val(fecha_salida);
		//$("#id_fecha_entrada").attr('type', 'date');
		//$("#id_fecha_salida").attr('type', 'date');
		$("#id_costo_alojamiento").attr('readonly', 'true');
		$("#id_id_habitacion_fk").attr('readonly', 'true');
		$("#id_fecha_entrada").attr('placeholder', 'Seleccione una fecha');
		$("#id_fecha_salida").attr('placeholder', 'Seleccione una fecha');
		$("#id_id_habitacion_fk option").remove();
		//$("#id_id_habitacion_fk").append('<option value selected>Seleccionar Habitacion</option>');
		$("#id_id_habitacion_fk").attr('data-toggle', 'modal');
		$("#id_id_habitacion_fk").attr('data-target', '.bd-example-modal-lg');
		$('#id_id_habitacion_fk').css("background-color", "#ffffff");
		
		var dateToday = new Date(); 
		jQuery.browser = {};
		$(function() {
            $("#id_fecha_entrada").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: dateToday,
                dateFormat: "yy-mm-dd"
			});
			
			$( "#id_fecha_salida" ).datepicker({
				changeMonth: true,
				changeYear: true,
				minDate: dateToday,
				dateFormat: "yy-mm-dd"
			});				
				
		});
	
		//$("#id_id_habitacion_fk").change(function () {
		//	var i = $(this).find(":selected").index();
		//	$("#id_costo_alojamiento").val(habs[i-1].precio);
		//	console.log(habs[i-1].precio);
		//});
		
		
		$("#id_id_habitacion_fk").click(function () {			
			$("#id_id_habitacion_fk option").remove();
			$(".modal-body div").remove();
			filterHabs();			
		});
		
		$("#id_fecha_entrada").change(function () {
			
			$("#id_id_habitacion_fk option").remove();
            $("#id_costo_alojamiento").val("");

            fecha_entrada = new Date($("#id_fecha_entrada").val());			

            var fecha_salida_min = new Date(fecha_entrada);
			fecha_salida_min.setDate(fecha_salida_min.getDate() + 2);	
            $("#id_fecha_salida").datepicker("option", "minDate", fecha_salida_min);
            console.log(fecha_entrada);
			$("#id_fecha_entrada").attr('type', 'date');
		});
		
		$("#id_fecha_salida").change(function () {
			$("#id_fecha_salida").attr('type', 'date');
			$("#id_id_habitacion_fk option").remove();
            $("#id_costo_alojamiento").val("");

			fecha_salida = new Date($("#id_fecha_salida").val());
			console.log(fecha_salida);
		});
		
		$("#id_fecha_salida").click(function () {
			$("#id_fecha_salida").attr('type', 'text');
		});
		
		$("#id_fecha_entrada").click(function () {
			$("#id_fecha_entrada").attr('type', 'text');
		});
		
		$("#id_fecha_entrada").blur(function () {
			$("#id_fecha_entrada").attr('type', 'date');
		});
		
		$("#id_fecha_salida").blur(function () {
			$("#id_fecha_salida").attr('type', 'date');
		});
		
		function filterHabs(){            
            var url = $("#reservaForm").attr("data-hab-disp-url");			
			var entrada = fecha_entrada.getFullYear() + "-" + (fecha_entrada.getMonth() + 1) + "-" + (fecha_entrada.getDate() + 1);
			var salida = fecha_salida.getFullYear() + "-" + (fecha_salida.getMonth() + 1) + "-" + (fecha_salida.getDate() + 1);


			$.ajax({
				url: url,
				data: {
					'entrada': entrada,
					'salida': salida
				},
				success: function (data) {
					//$("#id_city").html(data);
					//console.log(data);
					var dat = JSON.parse(data);
					habs = dat.habitaciones;
					console.log(habs);
					//$("#id_id_habitacion_fk option").remove();
					//$("#id_id_habitacion_fk").append('<option value selected>---------</option>');
					//for (var i = 0; i < habs.length; i++) {
						//console.log(habs[i].nro);
						//$("#id_id_habitacion_fk").append('<option value="'+ habs[i].id +'">'+ habs[i].nro +'</option>');
					//};

					
					for (var i = 0; i < habs.length; i++) {
						console.log(habs[i].nro);
						$(".modal-body").append($("#template").html());
						$(".hab-title").eq(i).text("Habitación " + habs[i].nro);
						$(".hab-categ").eq(i).text(habs[i].categ);
						$(".hab-carac").eq(i).text(habs[i].carac);
						$(".hab-prec").eq(i).text("Gs. " + habs[i].precio);
						$(".hab-img").eq(i).attr('src', "/media/" + habs[i].img);
						$(".hab-btn").eq(i).attr('onclick', 'return selectHab(' + habs[i].id + ',' + habs[i].nro + ',' + habs[i].precio + ');');
					};
					
					
				}
			});
		}

	});	
	
	function selectHab(id, nro, precio) {
        //$("#id_id_habitacion_fk").val('Habitación ' + nro);
		$("#id_id_habitacion_fk").append('<option value=' + id + ' selected>Habitación ' + nro + ' </option>');

		var dias = (fecha_salida - fecha_entrada) / (1000 * 60 * 60 * 24);
        $("#id_costo_alojamiento").val(precio * Math.round(dias));
		console.log(dias, "días de difirencia");
	}
			
</script>
	
{% endblock %}
