{% extends "dashboard/base.html" %}
{% load static %}
	{% block content %}
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Clientes</h1>
		
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Detalles del Cliente</h6>
		</div>
		<div class="card-body">
		
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>		
				
					<p><strong>C.I. Nro.:</strong><br> {{object.ci}}</p>
					<p><strong>Nombre:</strong><br> {{object.nombre}}</p>
					<p><strong>Tel&eacute;fono:</strong><br> {{object.telefono}}</p>
					<p><strong>Direcci&oacute;n:</strong><br> {{object.direccion}}</p>
					
					<a href="../" type="submit" class="btn btn-primary">
						<i class="fas fa-caret-left"></i>
						Volver
					</a>
					
				</div>
			</div>
		</div>
	</div>
	

	{% endblock %}
