{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			<h2 class='text-align-center'><strong>Crear Cuenta</strong></h2><br/>
			<form method="post" action=".">
				{% csrf_token %}
				{{ user_form|crispy }}
				{{ cliente_form|crispy }}

	
	  			<input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
			</form>
		</div>
	</div>
	
	<hr/>
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3 text-align-center'>
			<p>Ya tienes cuenta? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p>
		</div>
	</div>
{% endblock %}


				{% for field in user_form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}<br>
					{% if field.help_text %}
						<small style="color: grey">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
				{% endfor %}
				
				{% for field in cliente_form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}<br>
					{% if field.help_text %}
						<small style="color: grey">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
				{% endfor %}