{% extends "dashboard/base.html" %} 
{% load render_table from django_tables2 %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{ instance.fecha_entrada }} - {{ instance }}</h4>
                </div>
            </div>
        </div>


            <div class="row">
				{% if not request.user.is_client %}
                <div class="col-md-5 mb-4">
                    <div class="card shadow ">
                        <div class="header m-3">
                            <h5 class="card-title">Productos</h5>
                            <input data-href='{% url "ajax-search" instance.id_reserva %}' type="text" class="form-control search_button mb-0" placeholder="Buscar">
                        </div>
                        <div class="card-body" id="product_container">
                            {% include 'include/product_container.html' %}
                        </div>
                    </div>
                </div>
				{% endif %}
                <div class="col-md-7 mb-4">
                    <div class="card shadow">
                        <div id='order_item_container' class="card-body">
                            {% include 'include/order_container.html' %}
                        </div>
                    </div>
            	</div>
        </div>
    </div>

	{% include 'include/ajax_calls.html' %}

{% endblock %}
