{% extends "base.html" %}
{% block head_title %}Plotly test{% endblock %}
{% block in_head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
	<div class='row justify-content-center'>
		<div class='col-sm-12 col-sm-offset-3'>
			<div class="card shadow mb-4">
				<div class="card-body">
				
					<h1 class="h3 mb-4 text-gray-800 text-align-center">
						Plotly test</h1>
												
					<!--<br><hr>-->
					{{total_stats|safe}}
					
					{{plot_worst_hit_countries|safe}}
					
					{{plot_cases_of_a_country|safe}}
					
					{{worst_hit_countries_Confirmed|safe}}
						
				</div>
			</div>
		</div>
	</div>
{% endblock %}

